/* Variables */
:root {
  --primary-color: #007bff;
  --secondary-color: #dfdfdf;
  /*--success-color: #28a745;*/
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #f1f1f1;
  --dark-color: #343a40;

  --color-silver: silver;

  --font-family-base: 'Arial', sans-serif;
  --font-size-base: 1.6rem; /* 16px */
  --line-height-base: 1.5;
}

body {
  background-color: #f1f1f1;
}

@media screen and (min-width: 400px) {
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}
