<div class="contact-page">
  <div class="contact-block address">
    <h2>Název firmy</h2>
    <p>Třída Tomáše Bati 123<br/>
      Zlín<br/>
      760 01</p>
    <p><strong>IČO:</strong> 123456789<br/>
      <strong>DIČ:</strong> CZ123456789</p>
  </div>
  <div class="contact-block">
    {{ data.contact_form }}
  </div>
</div>

<div class="contact-page map">
  <iframe style="border:none" src="https://mapy.cz/s/lovagataca" width="1300" height="500" frameborder="0"></iframe>
</div>
