.path-frontpage picture {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* umístí obrázek pod obsah */
}

.path-frontpage picture img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* zachová poměr stran a zajistí, že obrázek pokryje celou plochu */
  object-position: center; /* vycentruje obrázek */
  border: none;
}

.path-frontpage .header {
  /*height: 50px;*/
  margin: 0 auto;
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
  .path-frontpage header {
    background-color: transparent;
  }

  .path-frontpage .header {
    height: 250px;
  }

}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}
